body {
    font-family: 'Acme', sans-serif;
    color: #333;
    line-height: 1.6;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-top: 100px;
}

.mb-60 {
    margin-bottom: 60px;
}

.nome_restaurante {
    margin-top: -10px;
}

.section-title p {
    font-size: 24px;
    font-family: Oleo Script;
    margin-bottom: 0px;
    margin-top: 50px;
}

.header_cardapio h4 {
    font-size: 60px;
    text-transform: capitalize;
    color: #E63333;
    display: grid;
    padding-bottom: 7px;
    margin: 112px 0px 0px 130px;
}

.header_cardapio h2 {
    font-size: 101px;
    text-transform: capitalize;
    color: #E63333;
    display: grid;
    display: block;
    /* margin-top: -78px; */
    margin: -56px 0 0 31px;
}

.header_menu h3 {
    font-size: 60px;
    text-transform: capitalize;
    color: black;
    display: grid;
    display: block;
    text-align: center;
    margin: 65px 0 0 0;
}

.header_menu h3 h3::before {
    width: 80px;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.header_cardapio h4::before,
.header_cardapio h4::after {
    position: absolute;
    content: "";
    background-color: #E63333;
}

img#fundo_anjo {
    height: 167px;
    margin: -395px 0 -10px -28px;
}

.single_menu_list img {
    max-width: 100%;
    display: grid;
    left: 0px;
    top: 0;
    border: 1px solid #ddd;
    padding: 3px;
    transition: .4s;
}

.menu_style1 .single_menu_list img {
    position: static;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 45px;
}

.menu_style1 .single_menu_list {
    text-align: center;
}

.single_menu_list h4 {
    font-size: 27px;
    border-bottom: 1px dashed #333;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.single_menu_list h4 span {
    float: right;
    font-weight: bold;
    color: #E63333;
    font-style: italic;
}

p {
    font-weight: 300;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
}

li.nav-item {
    color: #E63333;
    text-transform: uppercase;
}

a.nav-link.active {
    font-weight: bold;
    color: #E63333 !important;
    text-transform: uppercase;
    border-color: #E63333 #E63333 #fff !important;
}

.nav-tabs {
    border-bottom: 1px solid #E63333 !important;
}

.modal-open .modal {
    background: rgb(250, 214, 23);
    background: linear-gradient(180deg, rgba(255, 233, 114, 0.6755077030812324) 60%, rgba(247, 205, 30, 1) 100%);
}


/* 
.modal-body {
    background: rgb(250, 214, 23);
    background: linear-gradient(180deg, rgba(250, 214, 23, 0.6755077030812324) 0%, rgba(246, 184, 58, 0.9332107843137255) 71%, rgba(245, 62, 62, 1) 100%);
} */