.btn-cadastro {
    background: #FFA703;
    border-color: #FFA703;
    border-radius: 15px !important;
}

.btn-monitor {
    background: #FFA703;
    border-color: #FFA703;
    border-radius: 15px !important;
}

.btn-cardapio {
    background: #FFA703;
    border-color: #FFA703;
    border-radius: 15px !important;
}

.myForm {
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;
    max-width: 100%;
    margin-top: 3em;
}

input {
    border-radius: 15px !important;
}

input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.br-15 {
    border-radius: 15px 0 0 15px !important;
}

.submit_btn {
    border-radius: 15px !important;
    background-color: #95c714 !important;
    border: 0 !important;
}

.card {
    text-align: center;
}

.btn-outline-success {
    color: black;
}

.p-cadastro {
    font-size: 20px;
    text-align: center;
}

.h4-cadastro {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 51px;
    letter-spacing: 5px;
}

.h4-hora-funcionamento {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}

.p-monitor {
    font-size: 20px;
    text-align: center;
}

.h4-monitor {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 51px;
    letter-spacing: 5px;
}

.p-cardapio {
    font-size: 20px;
    text-align: center;
}

.h4-cardapio {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-size: 51px;
    letter-spacing: 5px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem !important;
    padding-top: 12px !important;
}

.header_cardapio h4 {
    font-size: 60px;
    text-transform: capitalize;
    color: #E63333;
    display: grid;
    padding-bottom: 7px;
    margin: 112px 0px 0px 130px;
}

.header_cardapio h2 {
    font-size: 101px;
    text-transform: capitalize;
    color: #E63333;
    display: grid;
    display: block;
    /* margin-top: -78px; */
    margin: -56px 0 0 31px;
}

.header_cardapio h4::before,
.header_cardapio h4::after {
    position: absolute;
    content: "";
    background-color: #E63333;
}

img#fundo_anjo {
    height: 167px;
    margin: -395px 0 -10px -28px;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    background: red;
    border: none;
    cursor: not-allowed;
    color: white;
}

.copyright {
    background: black;
    color: white;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    width: 100%;
    background: #E63333;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    margin-top: 4.2%;
}

.copyright_index {
    background: black;
    color: white;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    width: 100%;
    background: #E63333;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    margin-top: 2.5%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .copyright {
        color: white;
        font-size: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 5px;
        width: 100%;
        background: #E63333;
        padding: 10px 0;
        text-align: center;
        font-weight: bold;
        margin-top: 4.2%;
    }
    .copyright_index {
        color: white;
        font-size: 17px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 5px;
        width: 100%;
        background: #E63333;
        padding: 10px 0;
        text-align: center;
        font-weight: bold;
        margin-top: 27.3%;
    }
    #contato {
        opacity: 0;
        margin-top: -12em;
    }
}